<div class="add-author-container">
    <form method="post" action="{% url 'add_book' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in save_form %}
            <p class="clearfix">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
            </p>
        {% endfor %}
        <button type="button" class="btn-add-book">Add Book</button>
    </form>

    <script>
        AVB.addBookFormRules = {
            '{{ save_form.title.name }}': 'required'
        }
    </script>

</div>