<!doctype html>
<html lang="en">
    <head>
        <title>{% block pagetitle %} {% endblock %} My Books by Anna Vester</title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1" />
        <meta name="description" content="Anna Vester, freelance web developer based in Northwest Arkansas, USA"  />
        <meta name="keywords" content="freelance front end web developer north west arkansas, front end developer nwa, front end web developer, freelance web developer arkansas, north west arkansas" />
        <meta name="robots" content="all"/>
        <meta name="viewport" content="width=device-width" />
        <meta name="y_key" content="aa9d4d666ed2a840" />

        <link href="/static/css/s.css" rel="stylesheet" type="text/css" />
        <link href="/static/css/blitzer/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" type="text/css" />
        <link href='http://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css' />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-12515472-3']);
          _gaq.push(['_trackPageview']);
        
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        
        </script>
        {% block extra_styles %} {% endblock %}
    </head>
    <body id="home" class="{% block pagetype %}{% endblock %}">
        <div id="page"> 
            <header>
                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/authors">Authors</a></li>
                        {% if user.is_authenticated %}
                            <li><a id="addAuthor" href="/author/add">Add Author</a></li>
                            <li><a id="addBook" href="/book/add">Add Book</a></li>
                            <li><a href="/logout">Logout</a></li>
                        {% else %}
                            <li><a id="login" href="/login">Login</a></li>
                        {% endif %}
                    </ul>
                    <a href="/" class="tagline">My Books</a>
                </nav>
            </header>    
            
            {% block pov %} {% endblock %}         
            
            <section id="body" class="group">
                {% block content %} {% endblock %}
            </section> 
            <div class="push"></div>           
        </div>
        
        <footer>
            <p>design and development by <a href="http://annavester.com">Anna Vester</a></p>
        </footer>
        <div id="dialog"></div>
        <script data-main="/static/js/books" src="/static/js/require.js"></script>
        <script>
            require.config({
                baseUrl: '/static/js/',
                paths: {
                    'jquery': 'jquery-2.1.3.min',
                    'jquery-ui': 'jquery-ui.min',
                    'jquery-validate': 'jquery.validate.min',
                    'dc': 'dc.min',
                    'cf': 'crossfilter.min',
                    'd3': 'd3.min'
                }
            })
        </script>
        {% block external %} {% endblock %}
    </body>
</html>
