{% extends "base.html" %}
{% block pagetitle %} Freelance Web Developer - Portfolio{% endblock %}

{% block content %}
    <div class="books">   
        <h1>My Library</h1>  
        <aside>
            <h2>About</h2>
            <p>My library is my personal project, where I track status of my books.</p>
            <p>It is a work in progress, and it serves me as a web development playground.</p>  
            
            <h2>Under the hood</h2>
            <p>Django, Sass, CSS3, HTML5 and jQuery are the building blocks of this project.</p> 
            
            <h2>Reading Status</h2>
            <p>Total Number of Books: {{books|length}}<br />
                Already Read: {{read_books}}<br />
                Have Not Read: {{havenotread_books}}<br />
                Reading Now: {{readingnow_books}}<br />
            </p>
        </aside>
        {% if books %}   
            <section>              
                {% include page_template %}      
            </section>     
        {% endif %}
    </div> 
{% endblock %}

{% block external %}
    <script src="/static/scripts/endless.js"></script>
    <script src="/static/scripts/endless_on_scroll.js"></script>
    <script>
        var endless_on_scroll_margin = 20;
        $(function() {
            init_tooltip(); 
        });
    </script>
{% endblock %}
