{% extends "base.html" %}

{% block content %}
    <div class="books">   
        <h1>My Library Stats</h1>
        {% if year %}
            <p>In {{ year }} I've finished {{ book_count }} books.</p>
        {% endif %}
    </div>

    <div id="chart"></div>

{% endblock %}

{% block external %}
    <script src="/static/js/d3.min.js"></script>
    <script src="/static/js/crossfilter.min.js"></script>
    <script src="/static/js/dc.js"></script>

    <script>
        var chart = dc.barChart("#chart");
        d3.json("/chart-data", function(error, experiments) {
            var ndx = crossfilter(experiments);
            var years = ndx.dimension(function(d) { return d.year; });
            var count = years.group().reduce(
                function(ind, d) { return d.count; },
                function(ind, d) { return d.count; },
                function(ind, d) { return 0; });

            chart
                .width(400)
                .height(180)
                .x(d3.scale.linear().domain([2004,2014]))
                .dimension(years)
                .group(count)
                .title(function(d) { return d.data.key + ": " + d.data.value; })
                .renderTitle(true)
                .brushOn(false)
                .renderlet(function(chart) {
                    chart.selectAll('rect').on("click", function(d) {
                        console.log("click!", d);
                    });
                })
                .xAxis().tickFormat(d3.format("d"));

            chart.render();
        })
    </script>
{% endblock %}
