{% extends "base.html" %}
{% block extra_styles %}
    <link href="/static/css/dc.css" rel="stylesheet" type="text/css" />
        <style>
            h2 { clear:left;}
        </style>
{% endblock %}
{% block content %}
    <div class="books">   
        <h1>My Library Stats</h1>
        {% if year %}
            <p>In {{ year }} I've finished {{ book_count }} books.</p>
        {% endif %}

        <div style="float:left; width: 500px;">
            <h2>Books read per year</h2>
            <div>
                <div id="annualCountRowChart"></div>
            </div>

            <h2>Pages read per year</h2>
            <div>
                <div id="annualCountLineChart"></div>
            </div>
        </div>

        <div style="float:left; width: 450px;">

            <h2>Book categories</h2>
            <div>
                <div id="categoryChart"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block external %}
    <script>
        require(["dc", "d3", "cf"], function(dc) {
            "use strict";
            var annualCountLineChart = dc.lineChart("#annualCountLineChart");
            var annualCountRowChart = dc.rowChart("#annualCountRowChart");
            var categoryChart = dc.rowChart("#categoryChart");

            d3.json("/chart-data", function(error, experiments) {
                var ndx = crossfilter(experiments.books);
                var categories = ndx.dimension(function(d) { return d.category; });
                var years = ndx.dimension(function(d) { return new Date(d.year).getFullYear(); });
                var categoriesCount = categories.group().reduceCount();
                var booksPerYear = years.group().reduceCount();
                var pagesPerYear = years.group().reduceSum(function(d) { return d.pages; });

                annualCountLineChart
                    .renderArea(false)
                    .width(500)
                    .height(200)
                    .margins({top: 5, left: 50, right: 10, bottom: 20})
                    .x(d3.time.scale().domain([2003, 2015]))
                    .y(d3.scale.linear().domain([0, pagesPerYear.top(1)[0].value]))
                    .dimension(years)
                    .group(pagesPerYear)
                    .renderHorizontalGridLines(true)
                    .brushOn(false)
                    .xAxis().ticks(5).tickFormat(d3.format("d"));
                annualCountLineChart.render();

                annualCountRowChart
                    .width(400)
                    .height(180)
                    .margins({top: 5, left: 10, right: 10, bottom: 20})
                    .dimension(years)
                    .group(booksPerYear)
                    .renderTitle(true)
                    .labelOffsetY(10)
                    .xAxis().ticks(5).tickFormat(d3.format("d"));
                annualCountRowChart.render();

                categoryChart
                    .width(400)
                    .height(400)
                    .dimension(categories)
                    .group(categoriesCount)
                    .renderTitle(true)
                    .margins({top: 5, left: 10, right: 10, bottom: 20})
                    .gap(5)
                    .label(function (d) { return d.key })
                    .title(function (d) { return d.value })
                    .ordering(function(d) { return -d.value })
                    .rowsCap(20)
                    .elasticX(true)
                    .labelOffsetY(10)
                categoryChart.render();
            });
        });
    </script>
{% endblock %}