{% extends "base.html" %}

{% block content %}
    <div class="books">   
        <h1>My Library Stats</h1>
        {% if year %}
            <p>In {{ year }} I've finished {{ book_count }} books.</p>
        {% endif %}
    </div>

    <div id="annualCountChart"></div>
    <div id="annualCountPieChart"></div>
    <div id="annualCountLineChart"></div>
    <div id="annualCountRowChart"></div>

{% endblock %}

{% block external %}

    <script>
        require(["dc", "d3", "cf"], function(dc) {
            "use strict";

            var annualCountChart = dc.barChart("#annualCountChart");
            var annualCountPieChart = dc.pieChart("#annualCountPieChart");
            var annualCountLineChart = dc.lineChart("#annualCountLineChart");
            var annualCountRowChart = dc.rowChart("#annualCountRowChart");

            d3.json("/chart-data", function(error, experiments) {
                experiments = experiments.annualCount;

                var ndx = crossfilter(experiments);
                var years = ndx.dimension(function(d) { return d.year; });
                var count = years.group().reduce(
                    function(ind, d) { return d.count; },
                    function(ind, d) { return d.count; },
                    function(ind, d) { return 0; });

                annualCountChart
                    .width(400)
                    .height(180)
                    .x(d3.scale.linear().domain([2003,2015]))
                    .dimension(years)
                    .group(count)
                    .title(function(d) { return d.data.key + ": " + d.data.value; })
                    .renderTitle(true)
                    .brushOn(false)
                    .xAxis().ticks(5).tickFormat(d3.format("d"));

                annualCountChart.render();

                annualCountPieChart
                    .width(400)
                    .height(250)
                    .dimension(years)
                    .group(count)
                    .innerRadius(20)
                    .radius(100)
                    .transitionDuration(1000)
                    .title(function(d) { return d.data.key + ": " + d.data.value; })
                    .renderTitle(true)

                annualCountPieChart.render();

                annualCountLineChart
                    .width(400)
                    .height(180)
                    .x(d3.scale.linear().domain([2003,2015]))
                    .dimension(years)
                    .group(count)
                    .title(function(d) { return d.data.key + ": " + d.data.value; })
                    .renderTitle(true)
                    .brushOn(false)
                    .renderArea(false)
                    .dotRadius(10)
                    .xAxis().ticks(5).tickFormat(d3.format("d"));

                annualCountLineChart.render();

                annualCountRowChart
                    .width(400)
                    .height(180)
                    .margins({top: 5, left: 10, right: 10, bottom: 20})
                    .dimension(years)
                    .group(count)
                    .renderTitle(true)
                    .xAxis().ticks(5).tickFormat(d3.format("d"));

                annualCountRowChart.render();
            });
        });
    </script>
{% endblock %}
